{{- $type := default "default" (.Get "type" | default (.Get 0)) -}}
{{- $text := default "animate" (.Get "text" | default (.Get 1)) -}}

{{- $letters := split $text "" -}}

<text-animation {{ $type }}="">
{{- range $value, $letter := $letters -}}
  <span style="--frame:{{ $value }}">{{ $letter }}</span>
{{- end -}}
</text-animation>
{{- /* This comment removes trailing newlines and white spaces. */ -}}
