{{- $src := default
  "https://ia600701.us.archive.org/12/items/firstchaptercollection001_1109_librivox/firstchapter001_02_taletwocities_dickens_law.mp3"
  (.Get "src" | default (.Get 0))
-}}
{{- $caption := default "A Tale of Two Cities by Charles Dickens" (.Get "caption" | default (.Get 1)) -}}
{{- $controls := default "" (.Get "controls" | default (.Get 2)) -}}

<audio-player>
  <figure>
    <figcaption>{{ $caption }}</figcaption>
    <audio controls {{ $controls | safeHTMLAttr }} src="{{ $src }}">
      <p>
        Your browser does not support HTML5 <code>audio</code>. Here is a
        <a href="{{ $src }}">link to the audio file</a> instead.
      </p>
    </audio>
  </figure>
</audio-player>
