{{- $text := default "Content Warning: " (.Get "text" | default (.Get 0)) -}}
{{- $hash  := print (truncate 4 "" (sha256 .Page.RelPermalink)) (truncate 4 "" (sha256 $text)) .Ordinal -}}

{{- if gt (len .Inner) 1 -}}
  {{- $text = .Inner -}}
{{- end -}}

<details id="disclosure-{{ $hash }}" data-disclosure="">
  <summary>
    {{- (or $.Page.Params.title $text) | markdownify }}
  </summary>
</details>
{{- /* This comment removes trailing newlines and white spaces. */ -}}
