{{- $url     := default "https://example.org/" (.Get "url"     | default (.Get 0)) -}}
{{- $title   := default "Content Embed"        (.Get "title"   | default (.Get 1)) -}}
{{- $caption := default $title                 (.Get "caption" | default (.Get 2)) -}}
{{- $sandbox := default ""                     (.Get "sandbox" | default (.Get 3)) -}}

<iframe-embed>
  <iframe
    sandbox="{{ $sandbox }}"
    src="{{ $url }}"
    title="{{ $title }}"
  ></iframe>
  <footer>{{ $caption | markdownify }}</footer>
</iframe-embed>
