{{- $source := default "https://example.com/" (.Get "source" | default (.Get 0)) -}}

{{- $host := $source -}}

{{- with (urls.Parse $source).Host -}}
  {{- $host = . -}}
{{- end -}}

{{- $favicon := partial "function-favicon-domain.html" $host -}}

{{- $image := partial "function-fetch-favicons.html"
  (dict
    "Context" .Page
    "Source"  $favicon
    "Infix"   ($host | anchorize)
  )
-}}

<link-card>
  <a href="{{ $source }}">
    <img
      loading="lazy"
      alt="{{ $host }}"
      title="{{ $host }}"
      height="{{ $image.Height }}"
      width="{{ $image.Width }}"
      src="{{ $image.Permalink }}"
    />
  </a>
  <article>
    <h2>{{ $host }}</h2>
    <a href="{{ $source }}">
      {{ $source }}
    </a>
  </article>
</link-card>
