{{- $url      := default "https://odysee.com/$/embed/odysee/7a416c44a6888d94fe045241bbac055c726332aa" (.Get "url"     | default (.Get 0)) -}}
{{- $title    := default "Odysee Video"                                                               (.Get "title"   | default (.Get 1)) -}}
{{- $caption  := default (print $title " ([Link](" $url "))")                                         (.Get "caption" | default (.Get 2)) -}}

<odysee-video>
  <iframe
    sandbox="allow-scripts allow-same-origin allow-presentation"
    id="odysee-iframe"
    src="{{ $url }}"
    title="{{ $title }}"
    allowfullscreen=""
  >
  </iframe>
  <footer>{{ $caption | markdownify }}</footer>
</odysee-video>
