{{- $text      := default "react" (.Get "text"      | default (.Get 0)) -}}
{{- $source    := default ""      (.Get "source"    | default (.Get 1)) -}}
{{- $title     := default $text   (.Get "title"     | default (.Get 2)) -}}
{{- $alternate := default $title  (.Get "alternate" | default (.Get 3)) -}}

{{- $author := .Page.Section -}}

{{- $image := partial "function-caches-images.html"
  (dict
    "Context"       .Page
    "Source"        $source
    "Fit"           "100x100"
    "Target"        (print (partial "function-paths.html").media "/" $author "/")
    "Copy"          (print (partial "function-paths.html").media "/" $author "/react-" (path.Base $source))
    "AlternateCopy" (print (partial "function-paths.html").media "/" $author "/react-" (path.BaseName $source) ".webp")
  )
-}}

<tool-tip data-type="reaction" title="{{ $title }}">
  {{ $text | markdownify }}
  <a href="{{ $image.Permalink }}">
    <img
      width="{{ $image.Width }}"
      height="{{ $image.Height }}"
      title="{{ $title }}"
      alt="{{ $alternate }}"
      src="{{ $image.Permalink }}"
    />
  </a>
</tool-tip>
