{{- $url     := default (print .Page.Permalink "embed.html")  (.Get "url"     | default (.Get 0)) -}}
{{- $title   := default "Self Embed"                          (.Get "title"   | default (.Get 1)) -}}
{{- $caption := default $title                                (.Get "caption" | default (.Get 2)) -}}
{{- $sandbox := default "allow-popups"                        (.Get "sandbox" | default (.Get 3)) -}}

<self-embed>
  <iframe
    height="165"
    scrolling="no"
    sandbox="{{ $sandbox }}"
    src="{{ (strings.TrimPrefix "/" $url) | relURL  }}"
    title="{{ $title }}"
  ></iframe>
  <footer>{{ print $caption " ([Link](" $url "))" | markdownify }}</footer>
</self-embed>
