{{- $id      := default "Knowledge"          (.Get "id"      | default (.Get 0)) -}}
{{- $title   := default "Wikipedia Article"  (.Get "title"   | default (.Get 1)) -}}
{{-
  $caption := default
  (print $title " ([Link](" "https://en.m.wikipedia.org/wiki/" $id "))")
  (.Get "caption" | default (.Get 2))
-}}

<wikipedia-container title="{{ $title }}">
  <iframe
    loading="lazy"
    scrolling="no"
    height="300"
    src="https://en.m.wikipedia.org/wiki/{{ $id }}"
    title="{{ $title }}"
  ></iframe>
  <footer>{{ $caption | markdownify }}</footer>
</wikipedia-container>
