{{- $modified := partial "function-page-modified.html"
  (dict
    "Context" .
    "Label" "baseof.html"
  )
-}}

{{- if $modified -}}
<!DOCTYPE html>
<html
  lang="en-us"
  data-kind="{{ .Page.Kind }}"
  data-type="{{ .Page.Type }}"
  itemscope=""
  itemtype="http://schema.org/BlogPosting"
  data-document="html"
>
  <head>
    <title>
      {{- block "title" . -}}{{- end -}}
      {{- partial "head-title.html" . -}}
    </title>
    <meta name="description" content="{{- partial "head-description.html" . -}}" />
    {{- partial "head.html" . -}}
    {{- block "styles" . -}}{{- end -}}
  </head>
  <body>
    <skip-link>
      <a href="#main">Skip to main content</a>
    </skip-link>

    <column-base position="left">
      {{- partial "navigator-left.html" . -}}
    </column-base>

    <column-base position="middle">
      {{- block "header" . -}}{{- end -}}
      <main id="main">
        {{- block "middle" . -}}
          <footer>Silence is golden.</footer>
        {{- end -}}
      </main>
      {{- block "footer" . -}}
        {{- partial "footer.html" . -}}
      {{- end -}}
    </column-base>

    <column-base position="right">
      {{- block "right" . -}}
        <footer>Silence is golden.</footer>
      {{- end -}}
    </column-base>
  </body>
</html>
{{- end -}}
