{{- define "title" -}}Sources &mdash; {{ end -}}
{{- define "description" -}}A list of all sources &mdash; {{ end -}}
{{- define "styles" -}}
<style>
  {{ partial "navigator.css.html" (dict "Link" "/sources/") | safeCSS }}
</style>
{{- end -}}

{{- define "header" -}}
  {{- $_default   := readDir (print "/themes/default/layouts/_default")         -}}
  {{- $_markup    := readDir (print "/themes/default/layouts/_default/_markup") -}}
  {{- $partials   := readDir (print "/themes/default/layouts/partials")         -}}
  {{- $shortcodes := readDir (print "/themes/default/layouts/shortcodes")       -}}

  {{- $fileCount  := add
    (add
      (sub (len $_default) 1)
      (len $_markup))
    (add
      (len $partials)
      (len $shortcodes))
  -}}

  {{- partial "navigator-middle.html"
    (dict
      "Title"      "Sources"
      "Subtitle"   (print $fileCount " " "Total")
      "Icon"       "arrow-left"
      "IconLabel"  "Back"
      "Href"       ("" | relURL)
      "Id"         "back"
      "Context"    .
    )
  -}}
{{- end -}}

{{- define "middle" -}}
  {{- $_default   := readDir (print "/themes/default/layouts/_default")         -}}
  {{- $_markup    := readDir (print "/themes/default/layouts/_default/_markup") -}}
  {{- $partials   := readDir (print "/themes/default/layouts/partials")         -}}
  {{- $shortcodes := readDir (print "/themes/default/layouts/shortcodes")       -}}

  <source-files>
    <item-list>
      <h1>Defaults</h1>
      <ul>
        {{ range sort $_default ".ModTime" "desc" }}
          {{ if not .IsDir }}
            <li>
              <a download="" href="{{ "sources/files/_default" | relURL }}/{{ .Name }}">
                <span><code title="{{ .ModTime | time.Format "15:04 MST" }}">{{ .ModTime | time.Format "2006-01-02" }}</code></span>
                <span><code>{{ .Name }}</code></span>
                <span><code title="bytes">{{ .Size }}</code></span>
              </a>
            </li>
          {{ end }}
        {{ end }}
      </ul>

      <h1>Markup</h1>
      <ul>
        {{ range sort $_markup ".ModTime" "desc" }}
          {{ if not .IsDir }}
            <li>
              <a download="" href="{{ "sources/files/_default/_markup" | relURL }}/{{ .Name }}">
                <span><code title="{{ .ModTime | time.Format "15:04 MST" }}">{{ .ModTime | time.Format "2006-01-02" }}</code></span>
                <span><code>{{ .Name }}</code></span>
                <span><code title="bytes">{{ .Size }}</code></span>
              </a>
            </li>
          {{ end }}
        {{ end }}
      </ul>

      <h1>Partials</h1>
      <ul>
        {{ range sort $partials ".ModTime" "desc" }}
          {{ if not .IsDir }}
            <li>
              <a download="" href="{{ "sources/files/partials" | relURL }}/{{ .Name }}">
                <span><code title="{{ .ModTime | time.Format "15:04 MST" }}">{{ .ModTime | time.Format "2006-01-02" }}</code></span>
                <span><code>{{ .Name }}</code></span>
                <span><code title="bytes">{{ .Size }}</code></span>
              </a>
            </li>
          {{ end }}
        {{ end }}
      </ul>

      <h1>Shortcodes</h1>
      <ul>
        {{ range sort $shortcodes ".ModTime" "desc" }}
          {{ if not .IsDir }}
            <li>
              <a download="" href="{{ "sources/files/shortcodes" | relURL }}/{{ .Name }}">
                <span><code title="{{ .ModTime | time.Format "15:04 MST" }}">{{ .ModTime | time.Format "2006-01-02" }}</code></span>
                <span><code>{{ .Name }}</code></span>
                <span><code title="bytes">{{ .Size }}</code></span>
              </a>
            </li>
          {{ end }}
        {{ end }}
      </ul>
    </item-list>

    <footer>
      <p>
        Canory Version: {{ "{{% version number %}}" | markdownify }}
        &middot; Dictionary Access by Paul Lutus: <a href="https://arachnoid.com/javascript/dictionary_access.js">GPLv2+ Licence</a>
        &middot; Feather Icons by Cole Bemis: <a href="https://github.com/feathericons/feather/blob/8b5d6802fa8fd1eb3924b465ff718d2fa8d61efe/Licence">MIT Licence</a>
        &middot; Tabler Icons by Paweł Kuna: <a href="https://github.com/tabler/tabler-icons/blob/60f39297d0f785f2e8635faca6857b2260b2d164/Licence">MIT Licence</a>
        &middot; Instant Page by Alexandre Dieulot: <a href="https://github.com/instantpage/instant.page/blob/729e97d5b3245552e41d8f92ed03d08f1d62ea46/Licence">MIT Licence</a>
        &middot; Fixed Search by Heracles Papatheodorou: <a href="https://gist.github.com/Arty2/8b0c43581013753438a3d35c15091a9f#file-Licence-md">MIT Licence</a>
        &middot; Fuzzy Sort by Stephen Kamenar: <a href="https://github.com/farzher/fuzzysort/blob/e7f484a124f09bf3cb9a4db366a95457d962dbed/Licence">MIT Licence</a>
      </p>
    </footer>
  </source-files>
{{- end -}}

{{- define "right" -}}
  {{- partial "navigator-right.html" . -}}
{{- end -}}
