{{- define "styles" -}}
  <style>
    {{ partial "navigator.css.html" (dict "Link" "/")                   | safeCSS }}
    {{ partial "tabbar.css.html"    (dict "Context" . "Hash" "#drafts") | safeCSS }}
  </style>
{{- end -}}

{{- define "header" -}}
  {{- $author := .Section -}}
  {{- $authors := where .Site.RegularPages "Section" $author -}}
  {{- $drafts := where .Site.RegularPages "Draft" true -}}
  {{- $filteredPages := $authors | intersect $drafts -}}
  {{- $paginator := .Paginate $filteredPages -}}

  {{- partial "navigator-middle.html"
    (dict
      "Context"    .
      "IconLabel"  "Back"
      "Id"         "back"
      "Title"      "Drafts"
      "Icon"       "arrow-left"
      "Subtitle"   (print (partial "count-drafts.html" .) " " "Total")
      "Href"       (or (and (gt .Paginator.PageNumber 1) (.Paginator.Prev.URL | relURL)) ("" | relURL))
    )
  -}}

  {{- partial "profile.html" . -}}
{{- end -}}

{{- define "middle" -}}
  {{- range .Paginator.Pages -}}
    {{- partial "render-embed.html" . -}}
  {{- else -}}
    <footer>
      <code>No items found!</code>
    </footer>
  {{- end -}}
{{- end -}}

{{- define "footer" -}}
  {{- partial "pagination.html" . -}}
  {{- partial "footer.html" . -}}
{{- end -}}

{{- define "right" -}}
  {{- partial "navigator-right.html" . -}}
{{- end -}}
