{{- define "styles" -}}
  <style>
    {{ partial "navigator.css.html" (dict "Link" "/")                  | safeCSS }}
    {{ partial "tabbar.css.html"    (dict "Context" . "Hash" "#media") | safeCSS }}
  </style>
{{- end -}}

{{- define "header" -}}
  {{- partial "navigator-middle.html"
    (dict
      "Title"      "Media"
      "Subtitle"   (print (partial "count-media.html" .) " " "Total")
      "Icon"       "arrow-left"
      "IconLabel"  "Back"
      "Href"       ("" | relURL)
      "Id"         "back"
      "Context"    .
    )
  -}}

  {{- partial "profile.html" . -}}
{{- end -}}

{{- define "middle" -}}
  {{- $author := .Section -}}
  {{- $notFeeds := where .Site.RegularPages "Params.feed" "eq" nil -}}
  {{- $authors := where .Site.RegularPages "Section" $author -}}
  {{- $filteredPages := $authors | intersect $notFeeds -}}
  {{- $count := 0 -}}

  {{- range first 100 $filteredPages -}}
    {{- if eq $count 10 -}}
      {{- break -}}
    {{- end -}}
    {{- if or
      (in .Content "</video>")
      (in .Content "</picture>")
      (in .Content "</youtube-video>")
    -}}
      {{- partial "render-embed.html" . -}}
      {{- $count = add $count 1 -}}
    {{- end -}}
  {{- end -}}

  {{- if not $count -}}
  <footer>
    <code>No items found!</code>
  </footer>
  {{- end -}}
{{- end -}}

{{- define "right" -}}
  {{- partial "navigator-right.html" . -}}
{{- end -}}
