{{- define "styles" -}}
  <style>
    {{ partial "navigator.css.html" (dict "Link" "/")                  | safeCSS }}
    {{ partial "tabbar.css.html"    (dict "Context" . "Hash" "#posts") | safeCSS }}
  </style>
{{- end -}}

{{- define "header" -}}
  {{- $author := partial "function-authors-data.html" . -}}

  {{- partial "navigator-middle.html"
    (dict
      "Context"    .
      "IconLabel"  "Back"
      "Id"         "back"
      "Title"      $author.name
      "Icon"       "arrow-left"
      "Subtitle"   (print (lang.FormatNumberCustom 0 .Paginator.TotalNumberOfElements) " " "Total")
      "Href"       (or (and (gt .Paginator.PageNumber 1) (.Paginator.Prev.URL | relURL)) ("" | relURL))
    )
  -}}

  {{- partial "author-section-picture.html" . -}}

  {{- partial "profile.html" . -}}
{{- end -}}

{{- define "middle" -}}
  {{- range .Paginator.Pages -}}
    {{- partial "render-embed.html" . -}}
  {{- else -}}
    <footer>
      <code>No items found!</code>
    </footer>
  {{- end -}}
{{- end -}}

{{- define "footer" -}}
  {{- partial "pagination.html" . -}}
  {{- partial "footer.html" . -}}
{{- end -}}

{{- define "right" -}}
  {{- partial "navigator-right.html" . -}}
{{- end -}}
