{{- define "styles" -}}
  <style>
    {{ partial "navigator.css.html" (dict "Link" "/")                  | safeCSS }}
    {{ partial "tabbar.css.html"    (dict "Context" . "Hash" "#feeds") | safeCSS }}
  </style>
{{- end -}}

{{- define "header" -}}
  {{- partial "navigator-middle.html"
    (dict
      "Context"    .
      "IconLabel"  "Back"
      "Id"         "back"
      "Title"      "Feeds"
      "Icon"       "arrow-left"
      "Subtitle"   (print (partial "count-feeds.html" .) " " "Total")
      "Href"       (or (and (gt .Paginator.PageNumber 1) (.Paginator.Prev.URL | relURL)) ("" | relURL))
    )
  -}}

  {{- partial "profile.html" . -}}
{{- end -}}

{{- define "middle" -}}
  {{- range .Paginator.Pages -}}
    {{- partial "render-embed.html" . -}}
  {{- else -}}
  <footer>
    <code>No items found!</code>
  </footer>
  {{- end -}}
  {{- $writeToFile := partial "function-generate-feeds" . -}}
{{- end -}}

{{- define "footer" -}}
  {{- partial "pagination.html" . -}}
  {{- partial "footer.html" . -}}
{{- end -}}

{{- define "right" -}}
  {{- partial "navigator-right.html" . -}}
{{- end -}}
