{{- define "styles" -}}
<style>
  {{ partial "navigator.css.html" (dict "Link" "/") | safeCSS }}
</style>
{{- end -}}

{{- define "header" -}}
  {{- partial "navigator-middle.html"
    (dict
      "Title"      "Post"
      "Subtitle"   "Thread"
      "Icon"       "arrow-left"
      "IconLabel"  "Back"
      "Href"       ("" | relURL)
      "Id"         "back"
      "Context"    .
    )
  -}}
{{- end -}}

{{- define "middle" -}}
  <micro-thread>
    {{- partial "render-embed.html" . -}}

    {{- $prevHref  := "" | relURL -}}
    {{- $nextHref  := "" | relURL -}}
    {{- $prevTitle := "hidden" -}}
    {{- $nextTitle := "hidden" -}}

    {{- with .NextInSection -}}
      {{- $nextHref = $.NextInSection.Permalink -}}
      {{- $nextTitle = $.NextInSection.Summary -}}
    {{- end -}}

    {{- with .PrevInSection -}}
      {{- $prevHref = $.PrevInSection.Permalink -}}
      {{- $prevTitle = $.PrevInSection.Summary -}}
    {{- end -}}

    {{- with or .Next .Prev -}}
      <nav data-type="pagination">
        <a rel="next" href="{{ $nextHref }}" title="{{ $nextTitle }}">
          {{ safeHTML (readFile (print (partial "function-paths.html").static "/icons/feather/arrow-left.svg")) }}
          <header>Newer</header>
        </a>

        <a rel="prev" href="{{ $prevHref }}" title="{{ $prevTitle }}">
          <header>Older</header>
          {{ safeHTML (readFile (print (partial "function-paths.html").static "/icons/feather/arrow-right.svg")) }}
        </a>
      </nav>
    {{- end -}}

    {{- $filteredPages := partial "function-filters-content.html" (.Site.RegularPages.Related .) -}}
    {{- $related := $filteredPages | first 3 -}}

    {{- with $related -}}
      <related-content>
        <footer>
          <samp>
          Related Tags
          {{- with $.Params.tags -}}
            {{- range $tag := first 1 $.Params.tags -}}
              {{- $link := print ("tags/" | absURL) ($tag | urlize) "/" }}
              {{ print "---" " " "[#" $tag "](" $link ")" | markdownify -}}
            {{- end -}}
          {{- end -}}
          </samp>
        </footer>
      </related-content>

      {{- range $related -}}
        {{- partial "render-embed.html" . -}}
      {{- end -}}
    {{- end -}}
  </micro-thread>
{{- end -}}

{{- define "right" -}}
  {{- partial "navigator-right.html" . -}}
{{- end -}}
