{{- $href := or .Params.Feed.link .Permalink -}}
{{- $content := partial "function-content.html" . | safeHTML -}}
{{- $expired := and .ExpiryDate (ge now.Unix .ExpiryDate.Unix) -}}

<micro-card
  id="{{ partial "card-id.html" . }}"
  {{ if .Weight }}pinned{{ end }}
  {{ if .Draft }}draft{{ end }}
  {{ if .ExpiryDate }}data-expires{{ end }}
>
  <a href="{{ $href }}"></a>
  <header>
    {{ partial "profile-picture.html"  . }}
    {{ partial "card-meta-header.html" . }}
  </header>
  <article aria-label="article">
    {{- $content -}}
    <micro-tags>
      {{- partial "tags.html" (dict "Format" "page" "Context" .) -}}
    </micro-tags>
  </article>
</micro-card>
