{{- define "styles" -}}
<style>
  {{ partial "navigator.css.html" (dict "Link" "/tags/") | safeCSS }}
</style>
{{- end -}}

{{- define "header" -}}
  {{- partial "navigator-middle.html"
    (dict
      "Context"    .
      "IconLabel"  "Back"
      "Id"         "back"
      "Title"      "Tags"
      "Icon"       "arrow-left"
      "Subtitle"   (print (partial "count-tags.html" .) " " "Total")
      "Href"       (or (and (gt .Paginator.PageNumber 1) (.Paginator.Prev.URL | relURL)) ("" | relURL))
    )
  -}}
{{- end -}}

{{- define "middle" -}}
  <tag-deck>
    {{- range .Paginator.Pages -}}
      {{- $count := lang.FormatNumberCustom 0 (len .Data.Pages) -}}
      {{- $title := lower .Title -}}

      {{- range first 1 .Pages -}}
      {{- $author := partial "function-authors-data.html" . -}}
        <tag-card>
         <article>
          <h2>
            <code>
              {{ $count }} in
              <a data-hover="" href="{{ "tags" | relURL }}/{{ $title }}/">
                #{{ $title }}
              </a>
            </code>
          </h2>
          <figure>
            <a href="{{ print "tags/" $title "/#" (partial "card-id.html" .) | relURL }}">
              {{ partial "author-picture" . }}
            </a>
          </figure>
          <time
            datetime="{{ .Date | time.Format "2006-01-02T15:04:05Z" }}"
            title="{{ .Date | time.Format "Posted: Monday, January 2, 2006 at 15:04:05 MST" }}"
          >
            {{ .Date | time.Format "02 Jan 2006" }}
          </time>
          <p>
            <a data-hover="" href="{{ print "tags/" $title "/#" (partial "card-id.html" .) | relURL }}">
              {{ partial "meta-title.html" . }}
            </a>
          </p>
         </article>
        </tag-card>
      {{- end -}}
    {{- end -}}
  </tag-deck>
{{- end -}}

{{- define "footer" -}}
  {{- partial "pagination.html" . -}}
  {{- partial "footer.html" . -}}
{{- end -}}

{{- define "right" -}}
  {{- partial "navigator-right.html" . -}}
{{- end -}}
