{{- $caption := default "LaTeX Render" .Attributes.caption -}}
{{- $ordinal := add .Ordinal 1 -}}
{{- $hash    := print (truncate 3 "" (sha256 .Inner)) (truncate 3 "" (sha256 .Page.RelPermalink)) "-" $ordinal -}}
{{- $id      := print "latex:" $hash | safeURL -}}
{{- $latex   := .Inner -}}
{{- $math    := transform.ToMath $latex -}}

<math-ml>
  <figure id="{{ $id }}">
    <figure title="{{ $latex }}">
      {{- with gt ($latex | len) 0 -}}
        {{ $math }}
      {{- else -}}
        <math xmlns="http://www.w3.org/1998/Math/MathML">
          <mrow>Empty LaTeX Rendered</mrow>
        </math>
      {{- end -}}
    </figure>
    <figcaption>
      <a href="#{{ $id }}">({{ $ordinal }})</a>
      {{ $caption | markdownify }}
    </figcaption>
  </figure>
</math-ml>
