{{ $width   := .Attributes.width   }}
{{ $height  := .Attributes.height  }}
{{ $caption := default "GoAT Diagram" .Attributes.caption }}

<diagram-container>
  {{ with diagrams.Goat .Inner }}
    <svg
      xmlns="http://www.w3.org/2000/svg"
      {{ if or $width $height }}
        {{ with $width }}width="{{ . }}"{{ end }}
        {{ with $height }}height="{{ . }}"{{ end }}
      {{ else }}
        viewBox="0 0 {{ .Width }} {{ .Height }}"
      {{ end }}>
      {{ .Inner }}
    </svg>
  {{ end }}
  <footer>{{ $caption | markdownify }}</footer>
</diagram-container>
