{{- $caption := default "Math Render" .Attributes.caption -}}
{{- $ordinal := add .Ordinal 1 -}}
{{- $hash    := print (truncate 3 "" (sha256 .Inner)) (truncate 3 "" (sha256 .Page.RelPermalink)) "-" $ordinal -}}
{{- $id      := print "math:" $hash | safeURL -}}
{{- $math    := .Inner -}}

<math-ml>
  <figure id="{{ $id }}">
    <figure>
      {{- with gt ($math | len) 0 -}}
        {{ $math | safeHTML }}
      {{- else -}}
        <math xmlns="http://www.w3.org/1998/Math/MathML">
          <mrow>Empty MathML Rendered</mrow>
        </math>
      {{- end -}}
    </figure>
    <figcaption>
      <a href="#{{ $id }}">({{ $ordinal }})</a>
      {{ $caption | markdownify }}
    </figcaption>
  </figure>
</math-ml>
