{{- $caption   := .Attributes.caption -}}
{{- $type      := .Type | default "text" -}}
{{- $options   := .Attributes.options | default "default=1" -}}
{{- $hash      := print (truncate 3 "" (sha256 .Inner)) (truncate 3 "" (sha256 .Page.RelPermalink)) .Ordinal -}}
{{- $id        := print "code-block:" $hash | safeURL -}}
{{- $highlight := highlight .Inner $type (print $options ",lineAnchors=" "code-line:" $hash) -}}

<code-block id="{{ $id }}" {{ if in (lower $options) "linenos" }}data-lines=""{{ end }}>
  <header>
  <language-label>
    <a href="#{{ $id }}">{{ $type }}</a>
  </language-label>
  </header>
  <code-content tabindex="-1" contenteditable="true" spellcheck="false">
    {{- replace $highlight
      `class="lnlinks"`
      `contenteditable="false" class="lnlinks"`
      | safeHTML
    -}}
  </code-content>
</code-block>

{{- with $caption -}}
  <footer>{{ . | markdownify }}</footer>
{{- end -}}
