{{- $alternate   := or .Alternate   ""   -}}
{{- $author      := or .Author      ""   -}}
{{- $date        := or .Date        ""   -}}
{{- $datetime    := or .DateTime    ""   -}}
{{- $datetitle   := or .DateTitle   ""   -}}
{{- $description := or .Description ""   -}}
{{- $expired     := or .Expired     ""   -}}
{{- $feedtitle   := or .FeedTitle   ""   -}}
{{- $host        := or .Host        ""   -}}
{{- $href        := or .Href        ""   -}}
{{- $hreftitle   := or .HrefTitle   ""   -}}
{{- $name        := or .Name        ""   -}}
{{- $source      := or .Source      ""   -}}
{{- $sourceset   := or .SourceSet   ""   -}}
{{- $title       := or .Title       ""   -}}
{{- $height      := or .Height      "64" -}}
{{- $width       := or .Width       "64" -}}

{{- if not $host -}}
  {{- $host = (urls.Parse ("" | absURL)).Host -}}
  {{- if not $host -}} {{- $host = "localhost" -}} {{- end -}}
{{- end -}}

{{- $date = .Date | time.Format "Mon Jan 2 2006" -}}
{{- if not .Date -}} {{- $date = "Inactive" -}} {{- end -}}

<micro-author>
  <micro-card>
    <header>
      <figure>
        <a title="{{ $title }}" href="{{ $href }}/">
          {{- if not $expired -}}
            <picture>
              {{- with $sourceset -}}
               <source srcset="{{ $sourceset }}" type="image/webp" />
              {{- end -}}
              <img
                width="{{ $width }}"
                height="{{ $height }}"
                src="{{ $source }}"
                alt="{{ $alternate }}"
              />
            </picture>
          {{- else -}}
            <svg xmlns="http://www.w3.org/2000/svg">
              <text
                x="50%"
                y="50%"
                text-anchor="middle"
                dominant-baseline="central"
                >{{ delimit (first 1 (split $author "")) "" | strings.Title }}</text>
            </svg>
          {{- end -}}
        </a>
      </figure>
    </header>
    <article>
      <h2><b>{{ $name }}</b></h2>
      <h3><a data-hover="" title="{{ $hreftitle }}" href="{{ $href }}/">@{{ $host }}</a></h3>
      <time data-type="default" title="{{ $datetitle }}" datetime="{{ $datetime }}">{{ $date }}</time>
    </article>
    {{ with $description }}
    <p>{{ $description }}</p>
    {{- end -}}
    <a title="{{ $feedtitle }}" href="{{ $href }}/rss.xml">
      {{ safeHTML (readFile (print (partial "function-paths.html").static "/icons/tabler/rss.svg")) }}
      <span>Feed</span>
    </a>
  </micro-card>
</micro-author>
