{{- $authors := print "public/authors.html" -}}

<author-list>
  <h1>
    <a data-hover="" href="{{ "authors" | relURL }}/">
      Authors
    </a>
  </h1>
  <aside>
  {{- with $authors = resources.Get $authors -}}
   {{- $authors.Content | safeHTML -}}
  {{- else -}}
    <footer>
      <code>No items found!</code>
    </footer>
  {{- end -}}
  </aside>
</author-list>
