{{- $author      := partial "function-authors-data.html" . -}}
{{- $description := or .Params.feed.description ($author.description | markdownify) -}}
{{- $name        := or .Params.feed.name $author.name -}}
{{- $host        := or (urls.Parse $.Site.BaseURL).Host "localhost" -}}
{{- $author      := .Section -}}
{{- $href        := print ($author | relURL) "/" -}}
{{- $title       := print $author "@" $host -}}

{{- with .Params.feed -}}
  {{- $host  = $.Params.feed.domain -}}
  {{- $href  = or $.Params.feed.home (print "http://" $.Params.feed.domain) -}}
  {{- $title = $.Params.feed.domain -}}
{{- end -}}

<context-profile>
  <context-menu>
    <div>
      <aside>
      <figure>
        <a title="{{ $name }}" href="{{ $href }}">
          {{ partial "author-picture" . }}
        </a>
      </figure>
      </aside>
      <aside>
        <h2>{{ $name }}</h2>
        <p>@{{ $host }}</p>
      </aside>
    </div>
    <p>{{ $description }}</p>
  </context-menu>
</context-profile>
