{{- $kind := in (slice "home" "taxonomy" "term") .Page.Kind -}}
{{- $author := index .Site.Data.authors .Section -}}

<footer>
  {{- if $kind -}}
    {{- with $footer := (and $kind .Site.Params.authors.default.footer) -}}
      {{ $footer | markdownify }} &middot;
      Copyright &copy; {{ now | time.Format "2006"}} &middot;
    {{- end -}}
  {{- else -}}
    {{ or $author.footer $author.title | markdownify }} &middot;
  {{- end }}

  {{ print "[Site Map](/sitemap.xml)" | markdownify }}

  <cite>
    Content not originating from this domain <br />
    are the copyright of their respective authors.
  </cite>
</footer>
