{{- $gallery := print "public/" .Section "/gallery.html" -}}

<gallery-images>
  <h1>Gallery</h1>
  <aside>
    {{- with fileExists $gallery -}}
      {{- with resources.Get $gallery -}}
        {{- .Content | safeHTML -}}
      {{- end -}}
    {{- else -}}
      <footer>
        <code>No items found!</code>
      </footer>
  {{- end -}}
  </aside>
</gallery-images>
