{{- $data          := slice -}}
{{- $author        := .Section -}}
{{- $filteredPages := partial "function-filters-content.html" .Site.RegularPages -}}

{{- range (where $filteredPages "Section" $author) -}}

  {{- $content := "" -}}
  {{- $page := print "public/" (strings.TrimPrefix .Page.Site.BaseURL .Page.Permalink) "embed.html" -}}

  {{- with $embed := resources.Get $page -}}
    {{- $content = $embed.Content -}}
  {{- else -}}
    {{- $content = .Content -}}
  {{- end -}}

  {{- if in $content "<picture>" -}}

    {{- $data = $data | append (dict
        "relatedHref" (.Permalink)
        "type"        (delimit   (findRE `(?sU)\s{8}type=".*"`   $content 1) "")
        "alt"         (delimit   (findRE `(?sU)\s{8}alt=".*"`    $content 1) "")
        "height"      (delimit   (findRE `(?sU)\s{8}height=".*"` $content 1) "")
        "style"       (delimit   (findRE `(?sU)\s{8}style=".*"`  $content 1) "")
        "title"       (delimit   (findRE `(?sU)\s{8}title=".*"`  $content 1) "")
        "width"       (delimit   (findRE `(?sU)\s{8}width=".*"`  $content 1) "")
        "srcset"      (partial "function-normalize-url.html" (delimit (findRE `(?sU)\s{8}srcset=".*"` $content 1) ""))
        "src"         (partial "function-normalize-url.html" (delimit (findRE `(?sU)\s{8}src=".*"`    $content 1) ""))
      )
    -}}
  {{- end -}}

  {{- if eq (len $data) 6 -}}
    {{- break -}}
  {{- end -}}

{{- end -}}

{{- if $data -}}
  {{- range $image := $data }}
  {{- $dimensions := ne (index (last 1 (split $image.width "=")) 0) `""` }}
    <a href="{{ $image.relatedHref }}">
      <picture>
        {{- with $image.srcset }}
          <source
            {{ $image.srcset | safeHTMLAttr }}
            {{ $image.type   | safeHTMLAttr }}
          />
        {{- end }}
        <img
         loading="lazy"
          {{ $image.alt    | safeHTMLAttr }}
          {{ $image.title  | safeHTMLAttr }}
          {{ with $dimensions }}
          {{ $image.width  | safeHTMLAttr }}
          {{ $image.height | safeHTMLAttr }}
          {{ end }}
          {{ $image.src    | safeHTMLAttr }}
          {{ $image.style  | safeHTMLAttr }}
        />
      </picture>
    </a>
  {{ end }}
  <gallery-overlay></gallery-overlay>
{{- end -}}
