{{- $index := resources.Get "js/index.js" -}}
{{- $js := $index | resources.Minify | fingerprint -}}

{{ if .Site.Params.site.production }}
<script src="{{ $js.RelPermalink }}"></script>
{{ else }}
<script src="{{ $index.RelPermalink }}"></script>
{{ end }}
