{{- $default := resources.Get "css/default.css"        -}}
{{- $syntax  := resources.Get "css/default-syntax.css" -}}
{{- $simple  := resources.Get "css/default-simple.css" -}}
{{- $fast    := resources.Get "css/default-fast.css"   -}}
{{- $math    := resources.Get "css/default-mathml.css" -}}

{{- $css :=
  slice
    $default
    $syntax
      | resources.Concat "css/bundle.css"
      | resources.Minify
      | fingerprint
-}}

{{ if .Site.Params.site.production }}
<link rel="stylesheet" href="{{ $css.Permalink }}"     title="Default" />
{{ else }}
<link rel="stylesheet" href="{{ $default.Permalink }}" title="Default" />
<link rel="stylesheet" href="{{ $syntax.Permalink }}"                  />
{{ end }}

<link rel="stylesheet" href="{{ $math.Permalink }}" />

<link rel="alternate stylesheet" href="{{ $simple.Permalink }}" />
<link rel="alternate stylesheet" href="{{ $fast.Permalink   }}" />
