{{- $author  := .Section -}}
{{- $home    := or print ("" | absURL) "/" -}}
{{- $kind    := in (slice "home" "taxonomy" "term") .Page.Kind -}}
{{- $logo    := .Site.Params.webmanifest.logo -}}
{{- $profile := print "public/data/media/" $author "/" $author "-profile" -}}

{{- if not $kind -}}
  {{- $home = print ("" | absURL) "/" $author "/" -}}
  {{- if fileExists (print $profile ".gif")  -}} {{- $logo = (print $profile ".gif")  -}} {{- end -}}
  {{- if fileExists (print $profile ".webp") -}} {{- $logo = (print $profile ".webp") -}} {{- end -}}
  {{- if fileExists (print $profile ".png")  -}} {{- $logo = (print $profile ".png")  -}} {{- end -}}
{{- end -}}

{{- with $logo = resources.Get $logo -}}

{{- $16 := $logo.Fit "16x16" -}}
{{- $32 := $logo.Fit "32x32" -}}

{{- $180 := $logo.Resize "180x180" -}}
{{- $192 := $logo.Resize "192x192" -}}
{{- $512 := $logo.Resize "512x512" -}}

{{- if (eq $.Page.Kind "home") -}}
  {{- $writeToFile := ($32.Content | resources.FromString "/favicon.ico").Permalink -}}
{{- end -}}

<link rel="icon"             type="image/x-icon"         sizes="32x32"   href="data:image/ico;base64,{{ $32.Content | base64Encode }}" />
<link rel="icon"             type="{{ $16.MediaType }}"  sizes="16x16"   href="data:{{ $16.MediaType }};base64,{{ $16.Content | base64Encode }}" />
<link rel="icon"             type="{{ $32.MediaType }}"  sizes="32x32"   href="data:{{ $32.MediaType }};base64,{{ $32.Content | base64Encode }}" />
<link rel="apple-touch-icon" type="{{ $180.MediaType }}" sizes="180x180" href="data:{{ $180.MediaType }};base64,{{ $180.Content | base64Encode }}" />

<link rel="home" href="{{ $home }}" />

{{ "" -}} <!-- Newline -->

{{- with $manifest := $.Site.Params.webmanifest -}}
<link rel="manifest" href='data:application/manifest+json;base64,{{ merge $manifest (dict
  "start_url" $home
  "icons"     (slice
                (dict
                  "sizes" "192x192"
                  "src"   (print "data:" $192.MediaType ";base64," ($192.Content | base64Encode))
                  "type"  (print $192.MediaType))
                (dict
                  "sizes" "512x512"
                  "src"   (print "data:" $512.MediaType ";base64," ($512.Content | base64Encode))
                  "type"  (print $512.MediaType))))
  | jsonify
  | base64Encode
}}'>

<meta name="msapplication-TileColor"         content="#da532c" />
<meta name="msapplication-config"            content="none" />
<meta name="msapplication-square70x70logo"   content="none" />
<meta name="msapplication-square150x150logo" content="data:{{ $180.MediaType }};base64,{{ $180.Content | base64Encode }}" />
<meta name="msapplication-square310x310logo" content="none" />
<meta name="msapplication-wide310x150logo"   content="none" />
{{- end -}}
{{- end -}}
