{{- $href := print .Permalink -}}

<meta-embed>
  <a href="{{ print $href "embed.html" }}">
    {{- safeHTML (readFile (print (partial "function-paths.html").static "/icons/tabler/code.svg")) -}}
    <span>Embed</span>
  </a>
</meta-embed>
