{{- $href   := print .Permalink -}}
{{- $plain  := print $href "index.txt" -}}

<meta-plain>
  <a href="{{ $plain }}">
    {{- safeHTML (readFile (print (partial "function-paths.html").static "/icons/tabler/notes.svg")) -}}
    <span>Plaintext</span>
  </a>
</meta-plain>
