{{- if not .ExpiryDate -}}
  {{- $relURL := strings.TrimPrefix .Page.Site.BaseURL .Page.Permalink -}}
  {{- $source := print (path.Dir $relURL) ".md" -}}
  {{- $href   := print (partial "function-paths.html").markdown "/" $source | relURL -}}
  {{- $title  := .File.LogicalName -}}

  {{- $href = partial "function-normalize-url.html" $href -}}

  <meta-source>
    <a href="{{ $href }}" title="{{ $title }}">
      {{- safeHTML (readFile (print (partial "function-paths.html").static "/icons/tabler/square-letter-m.svg")) -}}
      <span>Markdown</span>
    </a>
  </meta-source>
{{- end -}}
