{{- $href := print .Permalink "#" (partial "card-id.html" .) -}}

<meta-permalink>
  <a title="#{{ partial "card-id.html" . }}" href="{{ $href }}">
    {{- safeHTML (readFile (print (partial "function-paths.html").static "/icons/feather/link.svg")) -}}
    <span>Permalink</span>
{{- /* This comment removes trailing newlines and white spaces. */ -}}
  </a>
{{- /* This comment removes trailing newlines and white spaces. */ -}}
</meta-permalink>
{{- /* This comment removes trailing newlines and white spaces. */ -}}
