{{- $href := print .Permalink -}}

<meta-datetime>
  <a href="{{ $href }}">
    {{- safeHTML (readFile (print (partial "function-paths.html").static "/icons/feather/calendar.svg")) -}}
    <time
      data-type="localDate"
      datetime="{{ .Date | time.Format "2006-01-02T15:04:05Z" }}"
    >
      {{ .Date | time.Format "Jan 2 2006" -}}
    </time>
  </a>
  <a href="{{ $href }}">
    {{- safeHTML (readFile (print (partial "function-paths.html").static "/icons/feather/clock.svg")) -}}
    <time
      data-type="localTime"
      datetime="{{ .Date | time.Format "2006-01-02T15:04:05Z" }}"
    >
      {{ .Date | time.Format "15:04 MST" -}}
    </time>
  </a>
</meta-datetime>
