{{- $href := or .Params.Feed.link .Permalink -}}

<meta-view>
{{- /* This comment removes trailing newlines and white spaces. */ -}}
  <a href="{{ $href }}" title="{{- partial "meta-title.html" . -}}">
    {{- safeHTML (readFile (print (partial "function-paths.html").static "/icons/feather/external-link.svg")) -}}
    <span>view</span>
{{- /* This comment removes trailing newlines and white spaces. */ -}}
  </a>
{{- /* This comment removes trailing newlines and white spaces. */ -}}
</meta-view>
{{- /* This comment removes trailing newlines and white spaces. */ -}}
