{{- $author := partial "function-authors-data.html" . -}}

{{- $href  := print ($author.user | relURL) "/" -}}
{{- $name  := $author.name -}}
{{- $title := $name -}}

{{- with .Params.feed -}}
  {{- $href  = or $.Params.feed.home (print "http://" $.Params.feed.domain) -}}
  {{- $name  = $.Params.feed.name -}}
  {{- $title = $name -}}
{{- end -}}

<meta-name title="{{ $title }}">
  <b><a href="{{ $href }}">{{ $name }}</a></b>
{{- /* This comment removes trailing newlines and white spaces. */ -}}
</meta-name>
{{- /* This comment removes trailing newlines and white spaces. */ -}}
