{{- if or .Weight .Params.Liked .Params.feed -}}
  <meta-anchored>
    {{- $author := .Section -}}
    {{- partial "meta-via.html" . -}}

    {{- if .Weight -}}
      <a data-anchored="pinned">
       {{ safeHTML (readFile (print (partial "function-paths.html").static "/icons/tabler/pinned.svg")) }}
       <span>Pinned</span>
      </a>
    {{- end -}}

    {{- if .Params.Marked -}}
      <a
        href="{{ $author | relURL }}/marks/#marks"
        data-anchored="marked"
        data-hover=""
      >
       {{ safeHTML (readFile (print (partial "function-paths.html").static "/icons/feather/bookmark.svg")) }}
       <span>Marked</span>
      </a>
    {{- end -}}
  </meta-anchored>
{{- end -}}
