{{- $author    := partial "function-authors-data.html" . -}}
{{- $limit     := $author.wordlimit -}}
{{- $exceeded  := gt  .WordCount $limit -}}
{{- $excess    := sub .WordCount $limit -}}
{{- $total     := lang.FormatNumberCustom 0 (len .Content) -}}

<meta-wordcount
title="
{{- if $exceeded -}}
  {{ $excess }} words over the limit
 {{- else -}}
  {{ .WordCount }} words
{{- end }}
{{ $total }} bytes
{{- /* This comment removes trailing newlines and white spaces. */ -}}
">
{{- /* This comment removes trailing newlines and white spaces. */ -}}
  <word-limit>
    {{- safeHTML (readFile (print (partial "function-paths.html").static "/icons/tabler/notes.svg")) -}}
    <word-count>
      {{- if $exceeded -}}
        <em>{{ .WordCount }}</em>
      {{- else -}}
        <sup>{{ .WordCount }}</sup>
      {{- end -}}
      /<sub>{{ $limit }}</sub> words
{{- /* This comment removes trailing newlines and white spaces. */ -}}
    </word-count>
{{- /* This comment removes trailing newlines and white spaces. */ -}}
  </word-limit>
{{- /* This comment removes trailing newlines and white spaces. */ -}}
</meta-wordcount>
{{- /* This comment removes trailing newlines and white spaces. */ -}}
