{{- $id := partial "card-id.html" . -}}

<menu>
  <li>
    <label for="context-metadata-{{ $id }}">
      {{- safeHTML (readFile (print (partial "function-paths.html").static "/icons/feather/arrow-down-circle.svg")) -}}
      <span>menu</span>
    </label>
  </li>
  <li>
    <input hidden="" type="checkbox" id="context-metadata-{{ $id }}" />
    <context-menu position="anchor">

      {{- partial "menu-markdown.html"  . -}}
      {{- partial "menu-plain.html"     . -}}
      {{- partial "menu-embed.html"     . -}}
      {{- partial "menu-permalink.html" . -}}
      {{- partial "menu-datetime.html"  . -}}

    </context-menu>
  </li>
</menu>
{{- /* This comment removes trailing newlines and white spaces. */ -}}
