{{- $seconds := mul (div .WordCount 180.0) 60.0 -}}
{{- $seconds = printf "%.0f" $seconds -}}
{{- if eq $seconds "0" -}}
  {{- $seconds = "1" -}}
{{- end -}}

<meta-readtime title="{{ $seconds }} second{{- if not (eq $seconds "1") -}}s{{- end }} to read">
  {{- safeHTML (readFile (print (partial "function-paths.html").static "/icons/feather/eye.svg")) }}
  <span>{{ $seconds }}s read</span>
{{- /* This comment removes trailing newlines and white spaces. */ -}}
</meta-readtime>
{{- /* This comment removes trailing newlines and white spaces. */ -}}
