{{- $author := .Section -}}

{{- $host := or (urls.Parse $.Site.BaseURL).Host "localhost" -}}
{{- $href := print ($author | relURL) "/" -}}

{{- $title := print $author "@" $host -}}

{{- with .Params.feed -}}
  {{- $host  = $.Params.feed.domain -}}
  {{- $href  = or $.Params.feed.home (print "http://" $.Params.feed.domain) -}}
  {{- $title = $.Params.feed.domain -}}
{{- end -}}

<meta-handle>
{{- /* This comment removes trailing newlines and white spaces. */ -}}
  <a
    title="{{ $title }}"
    href="{{ $href }}">
    {{- safeHTML (readFile (print (partial "function-paths.html").static "/icons/feather/at-sign.svg")) -}}
    <span>{{- $host -}}</span>
{{- /* This comment removes trailing newlines and white spaces. */ -}}
  </a>
{{- /* This comment removes trailing newlines and white spaces. */ -}}
</meta-handle>
{{- /* This comment removes trailing newlines and white spaces. */ -}}
