{{- if .Draft -}}
  <meta-draft>
{{- /* This comment removes trailing newlines and white spaces. */ -}}
    <em>
{{- /* This comment removes trailing newlines and white spaces. */ -}}
      <a href="{{ .Type | relURL }}/drafts/#drafts">
        {{- safeHTML (readFile (print (partial "function-paths.html").static "/icons/feather/edit.svg")) -}}
        <span>Draft</span>
{{- /* This comment removes trailing newlines and white spaces. */ -}}
      </a>
{{- /* This comment removes trailing newlines and white spaces. */ -}}
    </em>
{{- /* This comment removes trailing newlines and white spaces. */ -}}
  </meta-draft>
{{- end -}}
