{{- if .Params.Unlisted -}}
  <meta-unlisted title="This message is off the record">
   {{- safeHTML (readFile (print (partial "function-paths.html").static "/icons/feather/eye-off.svg")) -}}
   <span>unlisted</span>
{{- /* This comment removes trailing newlines and white spaces. */ -}}
  </meta-unlisted>
{{- end -}}
