<meta-datetime
title="{{ .Date | time.Format "Posted: Monday January 2 2006 at 15:04:05 MST" }}
{{ if .Lastmod.After .Date }}{{ .Lastmod | time.Format "Edited: Monday January 2 2006 at 15:04:05 MST" }}{{ end }}">
  {{- safeHTML (readFile (print (partial "function-paths.html").static "/icons/feather/calendar.svg")) -}}
  <time datetime="{{ .Date | time.Format "2006-01-02T15:04:05Z" }}">
    {{ (.Date | time.Format "Mon Jan 2 2006") -}}
  </time>
{{- /* This comment removes trailing newlines and white spaces. */ -}}
  {{ if .Lastmod.After .Date }}
    <span>(edited)</span>
  {{- end -}}
{{- /* This comment removes trailing newlines and white spaces. */ -}}
</meta-datetime>
{{- /* This comment removes trailing newlines and white spaces. */ -}}
