{{- $href := or .Href "#" -}}
{{- $id := or .Id "top" -}}
{{- $label := title $id -}}
{{- $icon := readFile (print (partial "function-paths.html").static "/icons/feather/arrow-up.svg") -}}
{{- $refresh := readFile (print (partial "function-paths.html").static "/icons/feather/refresh-cw.svg") -}}

{{- with .Icon -}}
  {{- $icon = readFile (print (partial "function-paths.html").static "/icons/feather/" . ".svg") -}}
{{- end -}}

{{- with .IconLabel -}}
  {{- $label = . -}}
{{- end -}}

<nav>
  <icon-button>
    <a
      data-update=""
      id="{{ $id }}"
      href="{{ $href }}"
      target="_self"
     >
      {{ safeHTML $icon }}
      {{ safeHTML $refresh }}
      <small>{{ $label }}</small>
      <small>Update</small>
    </a>
  </icon-button>

  <section>
    {{ with .Title }}
      <h2>{{ . }}</h2>
    {{ end }}
    {{ with .Subtitle }}
      <small>{{ . }}</small>
    {{ end }}
  </section>

  {{ if .Context.Site.Menus.main }}
    {{ range .Context.Site.Menus.main }}
    <icon-navigator hidden="">
      <icon-button>
          <a id="nav-middle-{{ path.Base .Identifier }}" href="{{ .URL | relURL }}">
            {{ with .Identifier }}
              {{ $icon := print (partial "function-paths.html").static "/icons/" . ".svg" }}
              {{ safeHTML (readFile $icon) }}
            {{ end }}
            <small>{{ delimit (first 1 (split .Name " ")) " " }}</small>
          </a>
      </icon-button>
    </icon-navigator>
    {{ end }}
  {{ end }}

  <search-box>
    <form role="search" action="https://lite.duckduckgo.com/lite/">
      <input
        aria-autocomplete="list"
        aria-label="search input"
        autocomplete="off"
        id="search"
        name="q"
        required=""
        spellcheck="false"
        type="search"
        value=""
      />
      <button type="submit">
        {{ safeHTML (readFile (print (partial "function-paths.html").static "/icons/feather/search.svg")) }}
        <small>Search</small>
      </button>
      <ul hidden=""></ul>
    </form>
 </search-box>
</nav>
