{{ if .Site.Menus.main }}
<nav>
  <ul>
    {{ range .Site.Menus.main }}
    <li>
      <a id="nav-left-{{ path.Base .Identifier }}" href="{{ .URL | relURL }}">
        <span>{{ .Name }}</span>
        {{ with .Identifier }}
          {{ $icon := print (partial "function-paths.html").static "/icons/" . ".svg" }}
          {{ safeHTML (readFile $icon) }}
        {{ end }}
      </a>
    </li>
    {{ end }}
  </ul>
</nav>
{{ end }}
