{{- with .Paginator -}}
  {{- $firstTitle := "hidden" -}}
  {{- $prevTitle  := "hidden" -}}
  {{- $nextTitle  := "hidden" -}}
  {{- $lastTitle  := "hidden" -}}

  {{- $firstHref  := "" | relURL -}}
  {{- $prevHref   := "" | relURL -}}
  {{- $nextHref   := "" | relURL -}}
  {{- $lastHref   := "" | relURL -}}

  {{- with .First -}}
    {{- if $.Paginator.HasPrev -}}
      {{- $firstHref = .URL | relURL -}}
      {{- $firstTitle = "Newest" -}}
    {{- end -}}
  {{- end -}}

  {{- with .Prev -}}
    {{- $prevHref = .URL | relURL -}}
    {{- $prevTitle = "Newer" -}}
  {{- end -}}

  {{- with .Next -}}
    {{- $nextHref = .URL | relURL -}}
    {{- $nextTitle = "Older" -}}
  {{- end -}}

  {{- with .Last -}}
    {{- if $.Paginator.HasNext -}}
      {{- $lastHref = .URL | relURL -}}
      {{- $lastTitle = "Oldest" -}}
    {{- end -}}
  {{- end -}}

  <nav{{ if le .TotalPages 1 }} hidden="" {{ end }} data-type="pagination">
    <a rel="first" href="{{ $firstHref }}" title="{{ $firstTitle }}" >
      <span>{{ $firstTitle }}</span>
    </a>

    <a rel="prev" href="{{ $prevHref }}" title="{{ $prevTitle }}">
      {{ safeHTML (readFile (print (partial "function-paths.html").static "/icons/feather/arrow-left.svg")) }}
      <span>{{ $prevTitle }}</span>
    </a>

    <a rel="next" href="{{ $nextHref }}" title="{{ $nextTitle }}">
      <span>{{ $nextTitle }}</span>
      {{ safeHTML (readFile (print (partial "function-paths.html").static "/icons/feather/arrow-right.svg")) }}
    </a>

    <a rel="last" href="{{ $lastHref }}" title="{{ $lastTitle }}" data-count="{{ .TotalPages }}">
      <span>{{ $lastTitle }}</span>
    </a>
  </nav>
{{- end -}}
