{{- $author := partial "function-authors-data.html" . -}}
{{- $path := $author.user | relURL -}}

<tab-bar>
  <nav>
    <a
      data-label="{{ $label := "Posts" }}{{ $label }}"
      href="{{ $path }}/#{{ lower $label }}">
      {{ $label }}
      <span data-scroll="" id="{{ lower $label }}"></span>
   </a>

    <a
      data-label="{{ $label := "Feeds" }}{{ $label }}"
      href="{{ $path }}/{{ lower $label }}/#{{ lower $label }}">
      {{ $label }}
      <span data-scroll="" id="{{ lower $label }}"></span>
    </a>

    <a
      data-label="{{ $label := "Media" }}{{ $label }}"
      href="{{ $path }}/{{ lower $label }}/#{{ lower $label }}">
      {{ $label }}
      <span data-scroll="" id="{{ lower $label }}"></span>
    </a>

    <a
      data-label="{{ $label := "Marks" }}{{ $label }}"
      href="{{ $path }}/{{ lower $label }}/#{{ lower $label }}">
      {{ $label }}
      <span data-scroll="" id="{{ lower $label }}"></span>
    </a>

    {{- if $.Site.BuildDrafts }}
    <a
      data-draft=""
      data-label="{{ $label := "Drafts" }}{{ $label }}"
      href="{{ $path }}/{{ lower $label }}/#{{ lower $label }}">
      {{ $label }}
      <span data-scroll="" id="{{ lower $label }}"></span>
    </a>
    {{- end }}
  </nav>
</tab-bar>
