{{- $feed   := 0 -}}
{{- $feeds  := "Feeds" -}}
{{- $author := .Section -}}
{{- $authors := partial "function-authors-data.html" . -}}

{{- with $authors.feeds.rss -}}
  {{- $feed = len . -}}
{{- end -}}

{{- if eq $feed 1 -}}
  {{- $feeds = $feeds | singularize -}}
{{- end -}}

<profile-box>
  <picture data-type="banner">
    {{ partial "author-header.html" . }}
  </picture>

  <figure>
    <a href="">{{ partial "author-picture.html" . }}</a>
  </figure>

  <section>

    <aside>
      <h2>{{ $authors.name }}</h2>
      <h3>@{{ $author }}</h3>
    </aside>
    <p>{{ $authors.description | markdownify }}</p>
  </section>

  <footer>
    <p>
      {{ safeHTML (readFile (print (partial "function-paths.html").static "/icons/feather/map-pin.svg")) }}
      <span>{{- $authors.place | markdownify -}}</span>
    </p>
    <p>
      {{ safeHTML (readFile (print (partial "function-paths.html").static "/icons/feather/globe.svg")) }}
      <a href="{{ $authors.domain.url }}">
        {{- $authors.domain.host | markdownify -}}
      </a>
    </p>
    <p>
      {{ safeHTML (readFile (print (partial "function-paths.html").static "/icons/feather/clock.svg")) }}
      <span>{{- $authors.epoch | markdownify -}}</span>
    </p>
    <p title="Watching {{ $feed }} {{ $feeds }}">
      {{ safeHTML (readFile (print (partial "function-paths.html").static "/icons/tabler/rss.svg")) }}
      <span>
        <b>{{ $feed }}</b> {{ $feeds }}
      </span>
    </p>
  </footer>
</profile-box>

{{- partial "profile-tabs.html" . -}}
