{{- $cache       := "" -}}
{{- $source      := "" -}}
{{- $timestamp   := "" -}}
{{- $remote      := .Remote -}}
{{- $caption     := .Caption -}}
{{- $pageContext := .Context -}}
{{- $public      := print "public/" .Source -}}
{{- $immutable   := print (.RelURL | humanize | urlize) "-" (.Source | sha256 | truncate 8 "") -}}
{{- $extension   := path.Ext .Source -}}
{{- $storage     := print $.Author "/media/" $immutable $extension -}}
{{- $cached      := fileExists (path.Join "public/" $storage) -}}

{{- if .Start -}}
  {{- $timestamp = print "#t=" .Start -}}
{{- end -}}

{{- if .End -}}
  {{- $timestamp = print "#t=," .End -}}
{{- end -}}

{{- if and .Start .End -}}
  {{- $timestamp = print "#t=" .Start "," .End -}}
{{- end -}}

{{- if not $cached -}}

  {{- $remote := false -}}

  {{- if and (isset site.Params.site "offline") (eq $pageContext.Site.Params.site.offline false) -}}
    {{- $remote = resources.GetRemote .Source -}}
  {{- end -}}

  {{- with $remote -}}
    {{- with .Err -}}
      {{- warnf "Video fetch %s" . -}}
      {{- if not (fileExists $public) -}}
        {{- $caption = "No local video data found for source" -}}
      {{- end -}}
    {{- else -}}
      {{- $cache = $remote | resources.Copy $storage -}}
      {{- $cache = $cache.Permalink -}}
    {{- end -}}
  {{- else -}}
    {{- $caption = "Unable to load remote source data" -}}
  {{- end -}}
{{- else -}}
  {{- with $cache = resources.Get (path.Join "public/" $storage) -}}
    {{- $cache = $cache | strings.TrimPrefix "public/" | strings.TrimPrefix "/public/" -}}
  {{- end -}}
{{- end -}}

{{- $source = $cache | relURL -}}

{{- $caption = $caption | htmlEscape -}}

{{- if .Remote -}}
  {{- $source = .Source -}}
{{- end -}}

{{- $cache  = partial "function-normalize-url.html" $cache  -}}
{{- $source = partial "function-normalize-url.html" $source -}}

<video-container>
  <video
    title="{{ .Title }}"
    preload="{{ .Preload }}"
    data-orientation="{{ .Orientation }}"
    {{ with .Poster }} poster="{{ . }}" {{ end -}}
    {{ with .Width }} width="{{ . }}" {{ end -}}
    {{ with .Height }} height="{{ . }}" {{ end -}}
    {{- range $value := (split .Options " ") }}
    {{- printf `%s=""` $value | safeHTMLAttr }}
    {{ end -}}
  >
    <source src="{{ $source }}{{ $timestamp }}" />
    {{ print "Video: " $caption "." | markdownify }}
    <p>
      Sorry, your browser does not support embedded videos. Here is a
      <a href="{{ .Source }}">link to the video</a> instead.
    </p>
  </video>
  <footer>
    {{ $caption | markdownify }}
    <br />
    Index: {{ with $cache = print "/" $cache }} {{ print "[Cache](" $cache ")" | markdownify }} &middot; {{ end }}
    {{ print "[Source](" .Source ")" | markdownify }}
  </footer>
</video-container>
