{{- $count  := 0 -}}
{{- $author := partial "function-authors-data.html" . -}}
{{- $feeds  := print "public/" .Section "/webfeeds.html" -}}

{{- with $items := $author.feeds.rss -}}
  {{- $count = len $items -}}
{{- end -}}

{{- $expand := cond (gt $count 3) "more" "less" -}}

<web-feeds>
  <details
    id="web-feeds"
    data-expand="{{- $expand -}}"
  >
    <summary>
      <h1>Web Feeds ({{ $count }})</h1>
    </summary>
  </details>
  <aside>
  {{- if and $author.feeds.rss (fileExists $feeds) -}}
   {{- with $feeds = resources.Get $feeds -}}
    {{- $feeds.Content | safeHTML -}}
   {{- end -}}
  {{- else -}}
    <footer>
      <code>No items found!</code>
    </footer>
  {{- end -}}
  </aside>
</web-feeds>
