{{- $author := partial "function-authors-data.html" . -}}
{{- $include := print "public/" .Section "/weblinks.html" -}}

<web-links>
  <h1>Web Links</h1>
    {{ if and $author.feeds.rss (fileExists $include) }}
    <aside>
    {{- (resources.Get $include).Content | safeHTML -}}
    </aside>
  {{ else }}
    <footer>
      <code>No items found!</code>
    </footer>
  {{ end }}
</web-links>
