@namespace mathml url(http://www.w3.org/1998/Math/MathML);

mathml|math {
  display: block;
  display: block math;
}

mathml|mtd {
  display: flex;
  justify-content: center;
  padding-right: 0.4em;
  padding-left: 0.4em;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

@-moz-document url-prefix() {
  mathml|mtd {
    display: flex;
    justify-content: center;
    padding-right: 0.4em;
    padding-left: 0.4em;
    padding-bottom: 0.5ex;
    padding-top: 0.5ex;
  }
}
