column-base[position="left"],
column-base[position="right"] {
  opacity: 0.1;
  transition: 2s;
}

column-base[position="left"]:hover,
column-base[position="right"]:hover {
  opacity: 0.9;
  transition: 0.1s;
}

micro-card[id] > header,
micro-card[id] article math-ml figcaption {
  display: block;
}

micro-card[id] {
  flex-direction: row;
  padding: 1.25rem 1rem;
}

micro-card[id] > article {
  margin: auto 0;
  min-width: 0;
  flex-grow: 1;
}

micro-card[id] > article > * {
  width: 100%;
}

micro-card[id] > article > :nth-last-child(2) {
  margin-bottom: 0;
}

micro-card[id] micro-tags,
micro-card[id] > header meta-data,
micro-card[id] > article figcaption,
[data-kind="page"] micro-card[id]:first-child > a {
  display: none;
}

micro-card[id]
  > article
  footer:not(blockquote footer):not(code-block + footer) {
  display: none;
}

micro-card[id] > a {
  display: inline;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

micro-card[id] > a:focus {
  background-color: transparent !important;
  outline-offset: -0.15rem !important;
}

micro-card[id] article p,
micro-card[id] article ul,
micro-card[id] article dl,
micro-card[id] article h1,
micro-card[id] article h2,
micro-card[id] article h3,
micro-card[id] article video,
micro-card[id] article iframe,
micro-card[id] article article,
micro-card[id] article details,
micro-card[id] article figcaption,
micro-card[id] header picture {
  pointer-events: all;
  position: relative;
  z-index: 2;
}
